img {
    max-width: 100%;
}

html {
    overflow: hidden;
}

.fw_600 {
    font-weight: 600;
}

.hide_sc::-webkit-scrollbar {
    display: none;
}

.cp {
    cursor: pointer;
}

.hide_sc {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
}

/* 
================================================================
======================== Explore Page CSS ======================
================================================================
 */
.x_family_dashboard {
    display: flex;
}

.left_sidebar {
    width: 20%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 20px;
}

.logo_header {
    padding: 20px 0;
}

.left_sidebar_nav {
    margin-top: 30px;
}

.left_sidebar_nav_items ul,
.left_sidebar_nav_items li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left_sidebar_nav_items li a svg {
    font-size: 24px;
}

.left_sidebar_nav_items li a {
    color: black;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 12px;
    font-weight: 500;
    margin: 3px 0;
    display: flex;
    gap: 11px;
    align-items: center;
}

.left_sidebar_nav_items ul .active a {
    background-color: #c5c8eb;
}

.left_sidebar_nav_items ul li a:hover {
    text-decoration: none;
    background-color: #c5c8eb;
}



.left_sidebar_nav_items li a {}

.tweet_btn {
    background-color: #adb4ff;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    margin-top: 50px;
}

.left_sidebar_footer {
    margin-top: auto;
}

.left_sidebar_footer_user_box {
    display: flex;
    justify-content: start;
    gap: 20px;
    padding: 22px 0;
    align-items: center;
}

.ls_user_image {
    position: relative;
    width: 50px;
    height: 50px;
    background: #bfbfd0;
    text-align: center;
    border: 1px solid #c4a4c4;
    border-radius: 50px;
}

.ls_user_image img {
    position: absolute;
    top: 50%;
    width: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ls_user_details h5,
.ls_user_details p {
    margin: 0;
}

.ls_user_details h5 {
    font-size: 18px;
    color: black;
    font-weight: 700;
}

.ls_user_details p {
    font-weight: 500;
    font-size: 16px;
}

.ls_more {
    margin-left: auto;
}

.main_content {
    width: 55%;
    border: 2px solid #e9e9e9;
    border-top: 0;
    border-bottom: 0;
}

.explore_feed {
    display: flex;
    flex-direction: column;
}

.feed_header {
    padding: 16px 35px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: start;
    border-bottom: 2px solid #e9e9e9;
}

.feed_title h4 {
    font-size: 26px;
    margin-bottom: 8px;
}

.feed_sub_title p {
    margin: 0;
}

.feed_sub_title p span {}

.post_header {
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
}

.feed_header button {
    margin-left: auto;
    padding: 5px 26px;
    font-size: 16px;
    background: #f0f0f0;
    font-weight: 500;
}

.feed_content {
    padding: 0 20px;
    overflow-y: scroll;
    padding-top: 25px;
    padding-bottom: 100px;
    height: 100vh;
}

.ac_box_shadow {
    box-shadow: 4px 8px 9px -2px #bcbcbce6;
    -webkit-box-shadow: 4px 8px 9px -2px #bcbcbce6;
    -moz-box-shadow: 4px 8px 9px -2px #bcbcbce6;
}


.pc_box_shadow {
    box-shadow: 0px 0px 9px -2px #bcbcbce6;
    -webkit-box-shadow: 0px 0px 9px -2px #bcbcbce6;
    -moz-box-shadow: 0px 0px 9px -2px #bcbcbce6;
}

.active_user {
    background-color: #d4ffff;
    border: 2px solid #bfeaea;
}

.normal_user {
    background-color: #e5e5e5;
    border: 2px solid #bfeaea75;
}

.f_user h5,
.f_user p {
    margin: 0;
}

.su_footer {
    display: flex;
    justify-content: space-between
}

.tags {
    display: flex;
    margin-top: 10px;
    gap: 20px;

}

.tags span {
    border-radius: 10px;
    color: black;
    padding: 0px 15px;
    border: 1px solid #d4ffff;
    background: #c2efef;
    font-size: 15px;
    font-weight: 600;
}

.follow_back {
    font-size: 16px;
    font-weight: 700;
    color: black;
    background: #c5c8eb;
}

.with_tag .s_user_details h5 {
    width: min-content !important;
}

.f_user {
    display: flex;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 8px;
    justify-content: space-between;
}

.single_user {
    text-align-last: center;
}

.s_img {
    text-align-last: center;
    display: flex;
    align-items: center;
    gap: 15px;
}

.s_user_details {
    text-align-last: center;
}

.s_following {
    text-align-last: center;
}

.s_follower {
    text-align-last: center;
}

.s_credits {
    text-align-last: center;
}

.feed_content_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.feed_content_nav span {
    font-size: 18px;
    font-weight: 600;
}

.fc_left {
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.fc_left span {
    color: gray;
}

.feed_content_nav .active_tab {
    color: black;
}

.feed_content_nav .new_followers .new {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    background-color: #848ef5;
}

.feed_content_nav .new_followers .new span {
    position: absolute;
    top: 50%;
    font-size: 16px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.su_right {
    align-items: center;
    gap: 10px;
    display: flex;
}

.claimed {
    color: gray;
}

.claimed span {
    color: #848ef5;
    font-weight: 600;
}

.su_right .star svg {
    color: #5ac4c4;
}

.su_right .view button {
    border-radius: 10px;
    color: black;
    padding: 0px 15px;
    border: 1px solid #d4ffff;
    background: #c2efef;
    font-size: 15px;
    font-weight: 600;
}

.right_sidebar {
    padding: 0 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.right_sidebar .search {
    padding: 20px 0;
}

.search input {
    border-radius: 40px;
    padding: 0 30px;
    font-weight: 500;
    box-shadow: 0px 0px 17px -2px #bcbcbce6;
    -webkit-box-shadow: 0px 0px 17px -2px #bcbcbce6;
    -moz-box-shadow: 0px 0px 17px -2px #bcbcbce6;
}

.right_sidebar .filter h3,
.right_sidebar .filter p span {
    margin: 0;
    font-weight: 600;
}

.progress_bar .progress {
    height: 45px;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: black;
    gap: 10px;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
}

.p_active {
    background: #defcfc;
    border: 1px solid #c2dfdf;
}

.progress_bar .progress-bar {
    background-color: #90f2fe;
    height: 35px;
    border-radius: 8px;
    color: black;
    font-size: 17px;
    text-align: left;
    font-weight: 500;
    padding-left: 10px;
}

.filter_area {

    overflow-y: scroll;
    padding-top: 25px;
    padding-bottom: 100px;
    height: 100vh;
}

/* post */
.tweets_posts {}

.post {
    position: relative;
    margin-bottom: 80px;
    margin-top: 10px;
}

.post_header {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #e3e3e3c9;
}

.poster {
    width: 50px;
    text-align: center;
    position: relative;
    height: 50px;
    border-radius: 50px;
    border: 2px solid gray;
}

.poster img {
    border-radius: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.poster_credits h3,
.poster_credits p {
    text-align: center;
}

.poster_details h3,
.poster_credits h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
}

.poster_credits h4 {
    margin: 0;
}

.poster_details p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}

.wallet {}

.poster_credits {
    text-align: center;
    margin-left: 50px;
}

.follow_button {
    margin-left: auto;
}

.follow_button button {
    background: #e3e3e3;
    color: black;
    border-radius: 11px;
    font-weight: 500;
    padding: 5px 25px;
    font-size: 18px;
}

.post_content {
    padding: 20px;
}

.has_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.has_tags span {
    color: #9d92ff;
    font-weight: 500;
}

.post_footer {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    bottom: -35px;
}

.actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.post_footer .actions svg {
    cursor: pointer;
    color: #a1c1fe;
    font-size: 28px;
}

.post_footer .stars svg {
    color: #00ffe1;
    font-size: 28px;

}

.post_footer p {
    margin: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.love {}

.share {}

.re_post {}

.c_title {
    padding: 20px;
}

.helpItem {
    margin: 20px 0;
    display: flex;
    gap: 30px;
    align-items: center;
}

.helpItem .p {
    padding: 10px;
    border-radius: 10px;

}

.helpItem .p p {
    margin: 0;
}
.help{
    height: 100vh;
    overflow: scroll;
    padding-bottom: 100px;
}